@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: black;
    color: white;
  }

  body {
    @apply bg-white text-black antialiased;
  }
}
